Auto Responder/Sheet_responder.json
{
  "name": "Sheet responder",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task is to customize an email using the following data:\n\n- First name: {{ $json['First Name'] }}\n- Second name: {{ $json['Second Name'] }}\n- Date of birth: {{ $json['Date of Birth'] }}\n- Phone number: {{ $json.NUMBER }}\n- Profession: {{ $json.Profession }}\n- Email address: {{ $json.Email }}\n\nInstructions:\n1. Calculate the client's exact age in years based on the Date of birth field relative to the current date. Use the format: \"X years old\" (e.g., \"96 years old\").\n2. Format the submittedAt field into a readable format: \"Month Day, Year, Hour:Minute AM/PM\" (e.g., \"June 12, 2025, 01:38 AM\").\n3. The email content must follow this exact structure, with double newlines (\\n\\n) between each line as shown below, and no extra newlines or reformatting:\n   ```\n   Hello, {{ $json['First Name'] }}\n\n   I read a lot about your company and here are the details I have about you:\n\n   Your first name is: {{ $json['First Name'] }}\n\n   Your second name is: {{ $json['Second Name'] }}\n   Your age is: calculated age years old because you were born in {{ $json['Date of Birth'] }}\n\n   Your phone number is: {{ $json.NUMBER }}\n\n   Your email address is: {{ $json.Email }}\n\n   Your profession is: {{ $json.Profession }}\n\n   Your,\n   Ahmed\n\n   ```\n4. Start the email directly with \"Hello\" as if sending to a client, with no additional headers or robot details.\n5. Output the email in plain text, with no markdown formatting.\n6. Ensure the output exactly matches the specified structure, preserving double newlines (\\n\\n) between lines and avoiding any extra newlines or spaces.\n7. Do not mention or include any details about artifact tags or processing instructions in the output.",
        "messages": {
          "messageValues": [
            {
              "message": "you are a email and professional and creative writer "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -240,
        240
      ],
      "id": "5148eb16-1bdc-45e6-9a33-7eaea6935cca",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -200,
        520
      ],
      "id": "f1cbb537-885c-4654-9c8f-7db02b9fa1a4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bqdeLRFK86kkvvD4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Google Sheets').item.json.Email }}",
        "subject": "Hi,",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        440,
        340
      ],
      "id": "145a8b7b-30a5-4a0f-8301-76a7b20ea88a",
      "name": "Gmail",
      "webhookId": "52256a16-c784-485e-912e-f5862ed8c40b",
      "credentials": {
        "gmailOAuth2": {
          "id": "w3omY2pwWfghe0Nm",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        160,
        240
      ],
      "id": "5a117b87-76a1-4a71-badd-464ff29be82c",
      "name": "Wait",
      "webhookId": "955a127e-04db-46e8-b993-13e7e9d069f8"
    },
    {
      "parameters": {
        "content": "## Sheet auto responder\n**Get the details from google sheet, the details goes to the llm , the llm give it to the `wait` to wait 30 second and the goes to the gmail as a message from my account  ahmed.noshy2004@gmail.com and also copy of the message goes for my sheet** \n",
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        40
      ],
      "typeVersion": 1,
      "id": "86cfab50-4dd9-4c13-b4c5-77d75c94a988",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        240
      ],
      "id": "f487cde2-ceb9-4e3b-a34a-8a070253874b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=16g2Oy6rfidqRLoQQlpjA1I7sRVIFsisRppZJdA3XSRo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16g2Oy6rfidqRLoQQlpjA1I7sRVIFsisRppZJdA3XSRo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -440,
        240
      ],
      "id": "f6518419-571d-4b50-bffb-1e2722194bf7",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sbc8BoBBt9pDjaez",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "16g2Oy6rfidqRLoQQlpjA1I7sRVIFsisRppZJdA3XSRo",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16g2Oy6rfidqRLoQQlpjA1I7sRVIFsisRppZJdA3XSRo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16g2Oy6rfidqRLoQQlpjA1I7sRVIFsisRppZJdA3XSRo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "First Name": "={{ $('Google Sheets').item.json['First Name'] }}",
            "Second Name": "={{ $('Google Sheets').item.json['Second Name'] }}",
            "Date of Birth": "={{ $('Google Sheets').item.json['Date of Birth'] }}",
            "NUMBER": "={{ $('Google Sheets').item.json.NUMBER }}",
            "Email": "={{ $('Google Sheets').item.json.Email }}",
            "Message": "={{ $json.text }}",
            "Profession": "={{ $('Google Sheets').item.json.Profession }}"
          },
          "matchingColumns": [
            "First Name"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Second Name",
              "displayName": "Second Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date of Birth",
              "displayName": "Date of Birth",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NUMBER",
              "displayName": "NUMBER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        420,
        100
      ],
      "id": "402518fe-39d5-422c-901d-bc4f57a49dd7",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Sbc8BoBBt9pDjaez",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Google Sheets": [
      {
        "json": {
          "row_number": 2,
          "First Name": "Sara",
          "Second Name": "Elbaz",
          "Date of Birth": "05/09/1998",
          "NUMBER": 1087654321,
          "Email": "sara.elbaz@mail.com",
          "Profession": "Data Analyst",
          "Message": ""
        }
      },
      {
        "json": {
          "row_number": 3,
          "First Name": "Omar",
          "Second Name": "Fathy",
          "Date of Birth": "11/22/1995",
          "NUMBER": 1011223344,
          "Email": "omar.fathy@mail.com",
          "Profession": "Software Developer",
          "Message": ""
        }
      },
      {
        "json": {
          "row_number": 4,
          "First Name": "Mariam",
          "Second Name": "Said",
          "Date of Birth": "03/30/2001",
          "NUMBER": 1099887766,
          "Email": "mariam.said@mail.com",
          "Profession": "Product Manager",
          "Message": ""
        }
      },
      {
        "json": {
          "row_number": 5,
          "First Name": "Youssef",
          "Second Name": "Adel",
          "Date of Birth": "07/07/1993",
          "NUMBER": 1044556677,
          "Email": "youssef.adel@mail.com",
          "Profession": "Marketing Specialist",
          "Message": ""
        }
      },
      {
        "json": {
          "row_number": 6,
          "First Name": "Ahmed",
          "Second Name": "Noshy",
          "Date of Birth": "01/15/2000",
          "NUMBER": 1012345678,
          "Email": "ahmed.noshy@mail.com",
          "Profession": "AI Engineer",
          "Message": ""
        }
      }
    ],
    "Basic LLM Chain": [
      {
        "json": {
          "text": "Hello, Sara\n\nI read a lot about your company and here are the details I have about you:\n\nYour first name is: Sara\n\nYour second name is: Elbaz\nYour age is: 25 years old because you were born in 05/09/1998\n\nYour phone number is: 1087654321\n\nYour email address is: sara.elbaz@mail.com\n\nYour profession is: Data Analyst\n\nYour,\nAhmed"
        }
      },
      {
        "json": {
          "text": "Hello, Omar\n\nI read a lot about your company and here are the details I have about you:\n\nYour first name is: Omar\n\nYour second name is: Fathy\nYour age is: 28 years old because you were born in 11/22/1995\n\nYour phone number is: 1011223344\n\nYour email address is: omar.fathy@mail.com\n\nYour profession is: Software Developer\n\nYour,\nAhmed"
        }
      },
      {
        "json": {
          "text": "Hello, Mariam\n\nI read a lot about your company and here are the details I have about you:\n\nYour first name is: Mariam\n\nYour second name is: Said\nYour age is: 23 years old because you were born in 03/30/2001\n\nYour phone number is: 1099887766\n\nYour email address is: mariam.said@mail.com\n\nYour profession is: Product Manager\n\nYour,\nAhmed"
        }
      },
      {
        "json": {
          "text": "Hello, Youssef\n\nI read a lot about your company and here are the details I have about you:\n\nYour first name is: Youssef\n\nYour second name is: Adel\nYour age is: 30 years old because you were born in 07/07/1993\n\nYour phone number is: 1044556677\n\nYour email address is: youssef.adel@mail.com\n\nYour profession is: Marketing Specialist\n\nYour,\nAhmed"
        }
      },
      {
        "json": {
          "text": "Hello, Ahmed\n\nI read a lot about your company and here are the details I have about you:\n\nYour first name is: Ahmed\n\nYour second name is: Noshy\nYour age is: 24 years old because you were born in 01/15/2000\n\nYour phone number is: 1012345678\n\nYour email address is: ahmed.noshy@mail.com\n\nYour profession is: AI Engineer\n\nYour,\nAhmed"
        }
      }
    ]
  },
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6d3db4c4-bec9-4366-a323-1f61ee72e8e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "722251b91b8e6ea36af1b1d809ba5865ed7a39ca2db11d9615c7c98672310729"
  },
  "id": "KU4blUe0bHySRIJ1",
  "tags": []
}