Cv_Ranking_Agent/CV_Ranking_Agent.json
{
  "name": "Telegram chatbot",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        460,
        0
      ],
      "id": "38af84b1-ab53-4349-b682-f558ef9031f4",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        900,
        140
      ],
      "id": "7b57ada3-1b35-4d03-aae1-7e41da0c5ccc",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "wJtN1vPOvB0FHB9d",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=5"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1060,
        140
      ],
      "id": "1aa77578-bb98-4149-a026-d9032c768072",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are an expert CV reader and evaluator. Your task is to analyze the provided CV and evaluate each section, providing ratings out of 10 and suggesting improvements. Read the entire CV carefully and accurately assess all relevant details. If a section is missing or unclear, note it as \"Not provided\" or \"Insufficient information\" and suggest how to address it. Provide a concise summary and evaluation of the candidate’s qualifications, strengths, and areas for improvement based on the CV content, ensuring the response does not exceed 1000 characters"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        920,
        0
      ],
      "id": "bee6ebc9-ac2b-4bad-bf84-9af1d32bd544",
      "name": "CV Agent"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        0
      ],
      "id": "ce3c0677-ee09-467c-a00c-60bd314e9679",
      "name": "Download CV",
      "webhookId": "45b41832-19c9-4bb6-b1c8-e36b942a25ae",
      "credentials": {
        "telegramApi": {
          "id": "iFV7oneWqHYKjHDQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d23ed544-3d69-4ba4-ac8e-7018741309fa",
      "name": "Get cv",
      "webhookId": "6ac7da69-d496-471b-92fc-868cc1a6bb7c",
      "credentials": {
        "telegramApi": {
          "id": "iFV7oneWqHYKjHDQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Get cv').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1340,
        -200
      ],
      "id": "e76edf2b-eb99-4400-84ec-6f9ca7b7f8f1",
      "name": "Send Details and Rate",
      "webhookId": "2c96c261-46b4-47cd-8bc8-88d21729c896",
      "credentials": {
        "telegramApi": {
          "id": "iFV7oneWqHYKjHDQ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Ko_1Q-_rv08cK3YYAI_uXV7htsyaMKNrDPS-b0JIhz4",
          "mode": "list",
          "cachedResultName": "cv's_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ko_1Q-_rv08cK3YYAI_uXV7htsyaMKNrDPS-b0JIhz4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "الورقة1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ko_1Q-_rv08cK3YYAI_uXV7htsyaMKNrDPS-b0JIhz4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sender": "={{ $('Get cv').item.json.message.chat.first_name }} {{ $('Get cv').item.json.message.chat.last_name }}",
            "USER": "={{ $('Get cv').item.json.message.chat.username }}",
            "CV": "={{ $('Extract from File').item.json.text }}",
            "Data extracted ": "={{ $json.output }}"
          },
          "matchingColumns": [
            "USER"
          ],
          "schema": [
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "USER",
              "displayName": "USER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CV",
              "displayName": "CV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data extracted ",
              "displayName": "Data extracted ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1340,
        180
      ],
      "id": "c323d1bc-9b64-47ad-bf37-43cfd3da84c2",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ITbCc3qoTtnDp4nz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## CV-Ranking-Agent\nGet the cv from Telegram message and extract and get the rank, store it in the database, give output in telegram message",
        "height": 80,
        "width": 840
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        -140
      ],
      "typeVersion": 1,
      "id": "de0a633b-ab4d-4071-be0d-75aae0685d88",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd66198a-1f78-4d53-ac44-31955c91dc32",
              "name": "text",
              "value": "={{ $json.text.concat() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        0
      ],
      "id": "de2464cd-4854-4ead-8851-161a5173c347",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "CV Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "CV Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "CV Agent": {
      "main": [
        [
          {
            "node": "Send Details and Rate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download CV": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get cv": {
      "main": [
        [
          {
            "node": "Download CV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "CV Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Details and Rate": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b87d877-320f-43da-8597-fac193acbf30",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0735771e76782f3bba9548f6a314c0b205d4eaf3ed8a9993a114a9ddd7f603e8"
  },
  "id": "Cpu3wlsZs7rUGMxq",
  "tags": []
}