Telegram_Assistant/TelegramBot.json
{
  "name": "telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        20,
        320
      ],
      "id": "d633433a-025a-41fd-b680-189bd1e28676",
      "name": "Telegram Trigger",
      "webhookId": "b1c6d7b0-f25a-4ed8-9a9b-bc1414c5cdcd",
      "credentials": {
        "telegramApi": {
          "id": "eybbGKrHaebe01iO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "model_temperature",
              "value": 0.8
            },
            {
              "name": "token_length",
              "value": 500
            }
          ],
          "string": [
            {
              "name": "system_command",
              "value": "=You are a friendly chatbot. User name is {{ $json?.message?.from?.first_name }}. User system language is {{ $json?.message?.from?.language_code }}. First, detect user text language. Next, provide your reply in the same language. Include several suitable emojis in your answer."
            },
            {
              "name": "bot_typing",
              "value": "={{ $json?.message?.text.startsWith('/image') ? \"upload_photo\" : \"typing\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "49113543-eae5-4a23-9cce-0f3b32a226da",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        440,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message.text",
              "value": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "bb40e7a4-5320-42df-b311-7718c4aa17ef",
      "name": "PreProcessing",
      "type": "n8n-nodes-base.set",
      "position": [
        260,
        320
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.from.id }}",
        "action": "={{ $json.bot_typing }}"
      },
      "id": "a3de0be2-64cc-4874-876f-67014c8cfa06",
      "name": "Send Typing action",
      "type": "n8n-nodes-base.telegram",
      "position": [
        640,
        560
      ],
      "typeVersion": 1,
      "webhookId": "0578b3d4-4f3b-44ee-9a19-a3b2dca7e1bd",
      "credentials": {
        "telegramApi": {
          "id": "eybbGKrHaebe01iO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "f4ee2413-35dd-4e6c-95c5-37348d9f5c46",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        860,
        340
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message?.text }}",
        "rules": {
          "rules": [
            {
              "operation": "notStartsWith",
              "value2": "/"
            },
            {
              "operation": "startsWith",
              "value2": "/start",
              "output": 1
            },
            {
              "operation": "startsWith",
              "value2": "=/image ",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "dd80d32f-a152-4aa1-8c16-0766e4e0c089",
      "name": "CheckCommand",
      "type": "n8n-nodes-base.switch",
      "position": [
        1080,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "36b29888-8a8f-41d4-92b3-154e1ae11dd9",
      "name": "Chat_mode",
      "type": "n8n-nodes-base.openAi",
      "position": [
        1560,
        20
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "WNp1zwlvdFT3x3vv",
          "name": "OpenAi Noshy"
        }
      }
    },
    {
      "parameters": {
        "content": "## Chatbot mode by default\n### (when no command is provided)",
        "height": 233,
        "width": 330.5019024637719
      },
      "id": "144143d6-b255-457b-ae21-6c15f1277791",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "text": "={{ $json.message.content }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "d998d1fb-4815-4503-a275-1f95bcccd9c0",
      "name": "Text reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2020,
        200
      ],
      "typeVersion": 1,
      "webhookId": "05131bd4-c956-40f9-9f36-213021cc21d7",
      "credentials": {
        "telegramApi": {
          "id": "eybbGKrHaebe01iO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Welcome message\n### /start",
        "height": 219.892857142857,
        "width": 330.7863484403046
      },
      "id": "436d7f0a-f216-4ae5-bb6f-d30dfa188333",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_command }}"
            },
            {
              "content": "=This is the first message from a user. Please welcome a new user in `{{ $json.message.from.language_code }}` language"
            }
          ]
        },
        "options": {
          "maxTokens": "={{ $json.token_length }}",
          "temperature": "={{ $json.model_temperature }}"
        },
        "requestOptions": {}
      },
      "id": "c7a98d85-35a6-4983-8250-cc3070101f91",
      "name": "Greeting",
      "type": "n8n-nodes-base.openAi",
      "position": [
        1540,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "WNp1zwlvdFT3x3vv",
          "name": "OpenAi Noshy"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Settings').first().json.message.from.id }}",
        "file": "={{ $json.url }}",
        "additionalFields": {}
      },
      "id": "9580ddd6-2116-499b-8786-4518d0f1f5ae",
      "name": "Send image",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1900,
        620
      ],
      "typeVersion": 1,
      "webhookId": "b986480b-f172-4cba-97e4-f01ab9e44e4b",
      "credentials": {
        "telegramApi": {
          "id": "eybbGKrHaebe01iO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.message.text.split(' ').slice(1).join(' ') }}",
        "responseFormat": "imageUrl",
        "options": {
          "n": 1,
          "size": "512x512"
        },
        "requestOptions": {}
      },
      "id": "c8a1ead7-07d8-4881-8210-5f00135c68f6",
      "name": "Create an image",
      "type": "n8n-nodes-base.openAi",
      "position": [
        1540,
        620
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "WNp1zwlvdFT3x3vv",
          "name": "OpenAi Noshy"
        }
      }
    },
    {
      "parameters": {
        "content": "## Create an image\n### /image + request",
        "height": 233.8785714285713,
        "width": 329.7428571428562
      },
      "id": "290f3191-89aa-4b69-8669-8807e10be142",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "=Sorry, {{ $json.message.from.first_name }}! This command is not supported yet. Please type some text to a chat bot or try this command:\n/image \\[your prompt]\n\nEnter the command, then space and provide your request. Example:\n\n`/image a picture or a cute little kitten with big eyes. Miyazaki studio ghibli style`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "3ae612cf-5d07-4290-ba9a-d0a7d6f8d3db",
      "name": "Send error message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1540,
        960
      ],
      "typeVersion": 1,
      "webhookId": "c8b5ddde-adbd-4f6a-bc9b-ed3726e20b1f",
      "credentials": {
        "telegramApi": {
          "id": "eybbGKrHaebe01iO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Error fallback for unsupported commands",
        "height": 231.22373949579838,
        "width": 316.1071428571428
      },
      "id": "d4d5486d-9dda-437e-937a-8df18bbe3d2e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        880
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "PreProcessing": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "PreProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Send Typing action",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "CheckCommand",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Typing action": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "CheckCommand": {
      "main": [
        [
          {
            "node": "Chat_mode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send error message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat_mode": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Greeting": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an image": {
      "main": [
        [
          {
            "node": "Send image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "851ef8f9-9dd8-420f-a7cc-6fd505973f69",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e87bf6d2b433cd0e596cc59c744a877463e213136e5320df80234fd4c746a84a"
  },
  "id": "RWOEJbBXOXM06DqU",
  "tags": []
}